<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.spring.mapper.MessageMapper">
	<insert id="create">
		insert into tbl_message (sender, targetid, message)
		values (#{sender}, #{targetid},  #{message})
	</insert>
	<update id="updatePoint">
		update tbl_user 
		set upoint=upoint+#{point}
		where userid=#{userid} 
	</update>
</mapper>