<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.spring.mapper.BoardMapper">
	<select id="preview" resultType="String">
		select content from board_spring where num=#{num}
	</select>
	<update id="plusCount">
		update board_spring set viewcount=viewcount+1 where num=#{num}
	</update>
	<update id="plusStep">
		update board_spring set substep=substep+1 
		where subgroup=#{subgroup} and substep >= #{substep}
	</update>
	<insert id="insertAnswer">
		<selectKey keyProperty="num" order="BEFORE" resultType="int">
			select ifnull(max(num)+1,1) from board_spring
		</selectKey>
		insert into board_spring
		(num,writer,subject,content,subgroup,substep,sublevel) values
		(#{num},#{writer},#{subject},#{content},#{subgroup},#{substep},#{sublevel})
	</insert>
	<delete id="deleteReply">
		delete from reply where bnum=#{bnum}
	</delete>
	<delete id="delete">
		delete from board_spring where num=#{num} 
	</delete>
	<insert id="insertReply">
		<selectKey keyProperty="rnum" order="BEFORE" resultType="int">
			select ifnull(max(rnum)+1, 1) from reply
		</selectKey>
		insert into reply (rnum, bnum, replyer, replytext) values
		(#{rnum} , #{bnum}, #{replyer}, #{replytext} )
	</insert>
 	<select id="listReply" resultType="com.sample.spring.domain.board.Reply">
		select replyer,name,replytext,regdate 
		from reply r, member m
		where bnum=#{bnum} and r.replyer=m.userid
		order by rnum
	</select>
	<delete id="deleteAttach">
		delete from attach where fullname=#{fullname}
	</delete>
	<select id="listAttach" resultType="String">
		select fullname from attach where bnum=#{bnum}
	</select>
	<update id="update">
		update board_spring set subject=#{subject}, content=#{content}
		where num=#{num}
	</update>
	<select id="view" resultType="com.sample.spring.domain.board.Board">
		select num,writer,name,subject,content,regdate,subgroup,substep,sublevel,viewcount,
			(select count(*) from reply where bnum=b.num) cnt
		from board_spring b, member m
		where b.writer=m.userid and b.num=#{num} 
	</select>
	<insert id="insertAttach">
		insert into attach (fullname, bnum) values (#{fullname}, #{bnum})
	</insert>
	<insert id="insert">
		<selectKey keyProperty="num" order="BEFORE" resultType="int">
			select ifnull(max(num)+1,1) from board_spring
		</selectKey>
		insert into board_spring
		(num,writer,subject,content,subgroup,substep,sublevel) values
		(#{num},#{writer},#{subject},#{content},#{num},0,0)
	</insert>
	<select id="list" resultType="com.sample.spring.domain.board.Board">
		select num,writer,name,subject,content,regdate,subgroup,substep,sublevel,viewcount,
				(select count(*) from reply where bnum=b.num) cnt
		from board_spring b, member m
		where b.writer=m.userid and 
		<choose>
			<when test="searchkey != 'all'">
				${searchkey} like #{keyword}			
			</when>		
			<otherwise>
				( writer like #{keyword} or subject like #{keyword} or content like #{keyword} )
			</otherwise>
		</choose>
		order by subgroup desc, substep asc
		limit #{start}, #{end}
	</select>
	<select id="count" resultType="int">
		select count(*) from board_spring where
		<choose>
			<when test="searchkey != 'all'">
				${searchkey} like #{keyword}			
			</when>		
			<otherwise>
				writer like #{keyword} or subject like #{keyword} or content like #{keyword}
			</otherwise>
		</choose>
	</select>
</mapper>